body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
}

.nav {
  height: 10vh;
  width: 100%;
  background-color: #d6d6d6;
}

.sideBar {
  width: 300px;
  height: 90vh;
  background-color: #d6d6d6;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex {
  display: flex;
}

.center {
  justify-content: center;
}

.medel {
  align-items: center;
}

.beet {
  justify-content: space-between;
}

.around {
  justify-content: space-around;
}

.sidebar-button {
  height: 38px;
  width: 90%;
  text-align: left;
  margin: 2px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all 0.3s, color 0.3s;
}

.sidebar-button:hover {
  color: #4680ff;
  text-decoration: dotted underline;
}

.icon {
  margin-right: 10px;
  font-size: 15pt;
}

.bar {
  width: 90%;
  height: auto;
  margin: 8px auto;
  border-radius: 5px;
  background-color: #b8f4ff;
  padding: 10px;
  display: inline-flex;
  border: 1px solid #5ce6ff;
}

.w100 {
  width: 100%;
}

.bar button {
  width: auto;
  height: auto;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #5ce6ff;
  padding: 10px 30px;
  color: #000;
  margin: 10px;
  transition: all 0.3s, color 0.3s;
  display: flex;
  align-items: center;
  text-indent: 10px;
}

.bar button:hover {
  background-color: #93bcff;
  transform: scale(1.1);
}
.column{
  flex-direction: column;
}
.gap20{
  gap: 20px;
}
.w90{
  width: 90%;
}
.table , th, td {
  padding: 10px;
  text-align: left;
}
.table {
  width: 90%;
  border-collapse: collapse;
  border-radius: 10px;
}

.table thead {
  background-color: #b8f4ff;
}
.table tbody tr:nth-child(even) {
  background-color: #e3f5f7;
}
.table tbody tr:hover {
  background-color: #5ce6ff;
}
.border{
  border-radius: 100px;
}